body {
	background-color: lightblue;
}
h1{
	font-size: 4em;
	font-family: 'Redressed', cursive;
	color: whitesmoke;
}
header{
	position: relative;
	height: 150px;
	margin: 0px 0px;
	padding: 70px 0 0 0;
	background-image: url("../imagens/banner-gadaabe424_1920.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
cabecalho {
	padding: 53px;
	width: 80%;
	margin: 0 auto;
}
.nomesite{
	padding-left: 6%;
	display: inline-block;
}
main{
	padding-top: 1em;
	padding-bottom: 1em;
}
main p {
	padding: 5px 10%;
	text-align: center;
	font-size: large;
}
.navegacao {
	position: absolute;
	right: 131px;
	margin-top: 25px;
	text-align: center;
	/* margin: auto; */
	display: inline-block;
}
nav li{
	display: inline-block;
	font-family: fantasy;
	font-size: x-large;
	text-transform: uppercase;
	text-align: left;
}
nav li a{
	text-shadow: 2px 2px 5px black;
	text-decoration: none;
	display: block;
	width: 90px;
	color: whitesmoke;
}
nav li a:hover {
	color: white;
	text-decoration: underline;
}
.footer {
	padding: 18px 0;
	height: 30px;
	background-color: seagreen;
}
.footer p{
	text-align: center;
	color: whitesmoke;
	text-shadow:  2px 2px 5px black;
}
  